<html ng-app ng-csp>
	<head>
		<script type="text/javascript" src="/lib/oauth/sha1.js"></script>
		<script type="text/javascript" src="lib/oauth/oauth.js"></script>
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="snail.tumblr.js"></script>
		<script type="text/javascript" src="snail.js"></script>
	</head>
	<body ng-controller="oauth">
		<div ng-controller="post">
			<div ng-repeat="post in posts" ng-show="post.isShow">
				{{post.text}}
				<a href="{{post.source_url}}" target="_blank">
					<img ng-repeat="photo in post.photos"
					 ng-src="{{photo.alt_sizes[0].url}}">
				</a>
				<div>{{post.caption | html}}</div>
				<div>
					<a href="{{post.post_url}}" target="_blank">permalink</a>
				</div>
			</div>
		</div>
	</body>
</html>