<html ng-app ng-csp>
	<head>
		<meta charset="UTF-8">
		<title>snail</title>
		<script type="text/javascript" src="/lib/oauth/sha1.js"></script>
		<script type="text/javascript" src="lib/oauth/oauth.js"></script>
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="snail.tumblr.js"></script>
		<script type="text/javascript" src="snail.js"></script>
		<link rel="stylesheet" href="snail.css">
	</head>
	<body ng-controller="oauth">
		<div ng-controller="post">
			<div ng-repeat="post in posts" ng-show="post.isShow" class="window" ng-class="post.type">
				<!-- type=quote -->
				<div ng-show="post.text" ng-bind-html-unsafe="post.text"></div>
				<div class="caption" ng-show="post.source" ng-bind-html-unsafe="post.source"></div>

				<!-- type=photo -->
				<a href="{{post.source_url}}" target="_blank">
					<img class="image" ng-repeat="photo in post.photos"
						 ng-src="{{photo.original_size.url}}" ng-hide="post.isImageMode">
					<img class="imageWidth" ng-repeat="photo in post.photos"
						 ng-src="{{photo.original_size.url}}" ng-show="post.isImageMode">
				</a>
				<div class="caption" ng-bind-html-unsafe="post.caption"></div>

				<!-- type=link -->
				<a href="{{post.url}}">{{post.title}}</a>
				<div ng-bind-html-unsafe="post.description"></div>

				<!-- type=text -->
				<div>{{post.title}}</div>
				<div ng-bind-html-unsafe="post.body"></div>

				<!-- 共通 -->
				<div class="permalink">
					<a href="{{post.post_url}}" target="_blank">permalink</a>
				</div>
			</div>
		</div>
		<ul id="miniLog" ng-controller="miniLog" ng-model="logs">
			<li ng-repeat="log in logs">{{log}}</li>
		</ul>
	</body>
</html>