html {
    background-color: #2C4762;
}

body {
	margin: 1%;
}

.window {
    margin: 0px 1% 0px 1%;

    background-color: white;
    border-radius: 20px;
    padding: 0px 1% 1% 1%;
}

.quote,
.link,
.text{
    padding: 2%;
}

.image {
    height: 70%;
    display: block;
    margin: 0px auto 0px auto;
}

.caption p {
	text-align: center;
}

.permalink {
	margin-top: 20px;
	text-align: center;
}

#miniLog {
    position: absolute;
	
    right: 3%;
    top: 2%;
    margin: 0px;
    padding: 0px;
}

#miniLog li {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	list-style-type: none;
	padding: 1px 10px 1px 10px;
	margin-bottom: 3px;
	color: rgba(0, 0, 0, 0.5);
}